@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
/* &subset=cyrillic-ext  -  для киррилицы на сайте */
body {
  font-family: Montserrat;
  font-size: 14px;
  color: #000000;
  height: 100%;
  background-color: #fafafa;
}
body.lock {
  overflow: hidden;
}

.go {
  font-size: 37px;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/*=====================================*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: rgb(222, 220, 220);
  border-bottom: 1px solid rgba(0, 0, 0, 0.649);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 54px;
  gap: 20px;
  position: relative;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0px 0px 30px 0px;
}

.box {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}
.box__container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
  padding: 15px;
  background-color: #fba1a1;
}

.box__title {
  margin: 0px 0px 20px 0px;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: #252b42;
  text-align: center;
}

.box__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  margin: 15px 0;
}

.box__links {
  position: relative;
}

.box__button {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  transition: background-color 0.5s ease 0s;
}
.box__button:hover {
  background-color: #f99c9c;
}
.box__button:active {
  background-color: #62f805;
}
.box__error-message{
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.1px;
  color: #252b42;
}

.footer {
  background-color: rgb(222, 220, 220);
  border-top: 1px solid rgba(0, 0, 0, 0.649);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 54px;
  gap: 20px;
}
